.color-nav {
    background-color: #466B7B;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: x-large;
}

.foot{
    background-color: black;
    color: white;
    text-align: center;
}