.color-nav {
    background-color: #466B7B;
}

.link-text {
    color: white;
}

.me-auto, .navbar-nav a{
    text-decoration: none; 
    font-size: medium;
}

.me-auto, .navbar-nav :hover {
   color: rgb(210,172,247);
}


.foot{
    background-color: black;
    color: white;
    text-align: center;
}